# airflow
airflow/airflow.env
airflow/volumes/

# kafka
kafka/config_store/*
kafka/volumes/
#kafka/volumes/broker-0/data/*
#kafka/volumes/connect/data/*
#kafka/volumes/zookeeper/data/*
#kafka/volumes/zookeeper/logs/*

# portainer
#portainer/volumes/data/*
portainer/volumes/

# metabase
#analytics/volumes/metabase/data/*
analytics/volumes/*

# postgres
#postgres/volumes-16/data/*
#postgres/volumes-17/data/*
postgres/volume*/

# devbox
#devbox/volumes/data/*
devbox/volumes/

# spark
#spark/spark.env
#spark/spark-worker.env
spark/mounted_volumes/
#spark/volumes/
spark/volumes/

# openrouteservice
openrouteservice/serbia-latest.osm.pbf

# miscellaneous
commit_message


