# airflow
airflow/airflow.env

# kafka
kafka/config_store/*
kafka/volumes/broker-0/data/*
kafka/volumes/connect/data/*
kafka/volumes/zookeeper/data/*
kafka/volumes/zookeeper/logs/*

# portainer
portainer/volumes/data/*

# metabase
analytics/volumes/metabase/data/*

# postgres
postgres/volumes-16/data/*
postgres/volumes-17/data/*

# devbox
devbox/volumes/data/*

# spark
spark/spark.env
spark/spark-worker.env
spark/mounted_volumes/
spark/volumes/

# confluent-kafka-yaml
confluent-kafka-yaml/app/src/config/structlog_config.py

# miscellaneous
commit_message


