[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "==24.4.0"
pyyaml = "==6.0.2"
fastavro = "==1.10.0"
confluent-kafka = "==2.6.2"
pydantic = "==2.10.4"
pydantic-settings = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
